*{
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
}

.texto_h1 {
    text-align: center;
    color: orange;
    padding: 15px;
    font-size: xx-large;
    font-family: 'Bungee Spice', cursive;
}

.texto_p1 {
    text-align: center;
    color: black;
    font-size: x-large;
    font-family: 'Bungee Spice', cursive;
}


h2 {
    color: black;
    font-family: 'Lato', sans-serif;
}

nav {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(13,11,29,1) 82%);
}

ul  {
    display: flex;
    color: white;
    justify-content: flex-end;
    justify-content: space-around;
    list-style: none;
    padding: 9px;
    font-family: 'Caveat', cursive;
    font-size: 25px;
}

nav ul li {
text-align: right;
margin-right: 5px;
}

nav ul li a:hover {
    color : #ccc
}

nav ul li:hover {
    color : #ccc
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li i {
    text-align: right;
    margin-right: 5px;
    }
 


h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

nav img {
    width: 10%;
    height: 10%;
    border-radius: 100%; 
}

.texto__foot {
    color: white;
    text-align: center;
}

.texto_foot2 {
    color: white;
}



div section img {
    width: 40%;
    height: 40%;
    border-radius: 15%;
    border: solid black;
    margin: 20px;
}


iframe {
    border : solid black;
    border-radius: 10px;
    }

.video_games {
    border: 15px solid black;
    border-radius: 10%;
}

.texto_video{
    padding: 15px;
    font-family: 'Bungee Spice', cursive;
}

.titulo_juegos {
    font-size: 25px;
    text-align: center;
    font-family: 'Bungee Spice', cursive ;
    margin: 10px;
    padding: 15px;

}

.parrafo_juegos {
    color: black;
    font-family: 'Bungee Spice', cursive;
    text-align: center;
    font-size: xx-large;
}

div article a {
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    list-style: none;
    padding: 9px;
    font-size: x-large;
    text-decoration: none;
    border: solid black;
}


.titulo_anime {

    font-family: 'Bungee Spice', cursive;
    text-align: center;
    padding: 5px;
}

.subtitulo_anime {
    font-family: 'Bungee Spice', cursive;
    margin: 10px;
    text-align: center;
}




.div {
    border: 1px solid black;
    background-color: orange;
    font-size: 30px;
    font-family: 'Caveat', cursive;
    border-radius: 10px; 
    text-align: center;
}



.p_div {
    font-size: 25px;
    font-family: 'Caveat', cursive;
    padding: 10px;
    border: 1px solid black;
    background-color: lightgray;
    border-radius: 15px;
}


.titulo_personajes {
    font-family: 'Bungee Spice', cursive;
    text-align: center;
    font-size: xx-large;
    padding: 15px;
    margin: 20px;
}

div main img {
    margin: 10%;
    border: solid black;
    border-radius: 5%;
    
}

.link_games:hover {
    transform: scale(2);
    transition: all 0.5s;
    color : red;
}

div article a {
    background-color: antiquewhite;
}

.container p {
    font-size: xx-large;
    text-align: left;
    padding-left: 100px;
}

div section p {
    text-shadow: 8px 10px 8px white;
    font-family: 'Bungee Spice', cursive;
    margin: 1.5%;
    padding: 1.5%;
}


.color_c1 {
    background-color: orange;
    
}

.color_c2 {
    background-color: blue;
}

.color_c3 {
    background-color: green;
}

.color_c4 {
    background-color: black;
}

.color_c5 {
    background-color: rgb(43, 2, 9);
}

.color_c6 {
    background-color: #ccc;
}

.color_c7 {
    background-color: rgb(2, 51, 44);
}

.color_c8 {
    background-color: rgb(247, 11, 11);
}

.color_c9 {
    background-color: rgb(76, 5, 85);
}
.text_c1 {
    color: white;

}

.text_c2 {
    color: white;
}

.text_c3 {
    color: white;
}

.text_c4 {
    color: white;
}

.text_c5 {
    color: white;
}

.text_c6 {
    color: white;
}

.text_c7 {
    color: white;
}

.text_c8 {
    color:  white;
}

.text_c9 {
    color: white;
}

.juego_1 {
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 60px;
    padding: 20px;
}


footer {
    padding: 100px;
    background-color: black;
}